.contain{
    float:left;
    display:flex;

}

.col-sm-4 img{
    height:300px;
    width:80%;
    margin:30px 30px 30px 30px;
}.col-sm-4{
    width:50%;

}
.col-sm-8{
    float:right;
    width:50%;
    margin:30px 30px30px 30px ;
    height:300px;
}